@use "../utils/variables" as v;

// ---------------------- CONTENT - LAYOUT ---------------------- //

.dali-wrapper {
  $parent: &;

  .sbdocs-content {
    max-width: var(--dds-max-width-md);
  }

  
  &--large .sbdocs-content {
    max-width: var(--dds-max-width-lg);
  }
  
  &--wide .sbdocs-content {
    max-width: none;
  }

  .sbdocs-wrapper:has(.toc-wrapper:empty) {
    flex-direction: row;

    .sbdocs-content {
      max-width: var(--dds-max-width-xl);
    }
  }

  @media (min-width: 992px) {
    .sbdocs-wrapper {
      padding: 6.4rem;
      gap: 6.4rem;
      justify-content: flex-start;
    }
  }

  // fix problem with the canvas wrapper for components live demo
  [id*="story--components-"] {
    overflow: visible !important;
  }
}

// FLUID - COLS

.row {
  margin-top: 2.4rem !important;
}

@media only screen and (max-width: v.$responsive-breakpoint-sm) {
  .col + .col {
    margin-top: 16px;
  }
}

@media only screen and (max-width: v.$responsive-breakpoint-md) {
  .col + [class*="col-md"]:not([class*="col-sm"]) {
    margin-top: 16px;
  }
}

@media only screen and (max-width: v.$responsive-breakpoint-lg) {
  .col + [class*="col-lg"]:not([class*="col-md"]) {
    margin-top: 16px;
  }
}

// TOC: HIDE TABLE OF CONTENTS WHEN IT'S EMPTY

.sbdocs-toc--custom:has(.toc-wrapper:empty) {
  display: none;
}

