@import 'scss/preview';

.mrow {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.mcol-12 {
  grid-column: span 12;
}
.mcol-6 {
  grid-column: span 6;
}
.mcol-4 {
  grid-column: span 4;
}
.mcol-2 {
  grid-column: span 2;
}
.mcol-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .mcol-sm-4 {
    grid-column: span 4;
  }
  .mcol-sm-6 {
    grid-column: span 6;
  }
}
@media (min-width: 992px) {
  .mcol-md-6 {
    grid-column: span 6;
  }
}

.sbdocs-wrapper {
  > div:nth-child(2) {
    width: 28rem !important;
    > div {
      width: 28rem !important;
    }
  }
}
