// ---------------------- TABLE - COMPONENTS ---------------------- //

@use '../utils/variables' as *;

#storybook-docs .sbdocs .sbdocs-table {
  width: 100%;
  text-align: left;
  font-size: var(--dds-font-size-sm);

  thead tr {
    border: none;
  }

  tr {
    background-color: transparent;
  }

  tr th {
    font-weight: 600;
    white-space: nowrap;
    color: var(--dds-color-heading);

    &:empty {
      display: none;
    }
  }

  tr th,
  tr td {
    border: none;
    padding: 1.6rem;
    font-size: var(--dds-font-size-sm);
    line-height: var(--dds-line-height-sm);
    vertical-align: top;

    code {
      font-size: var(--dds-font-size-xs);
      line-height: var(--dds-line-height-xs);
    }
  }

  &--reduced {
    margin: $spacing-lg 0;

    tr {
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      &:nth-of-type(2n) {
        background-color: transparent;
      }

      th,
      td {
        padding: 0.6rem 1.2rem;

        &,
        > * {
          font-size: var(--dds-font-size-sm);
        }
      }
    }
  }
}
