// ---------------------- TOC - COMPONENTS ---------------------- //

#storybook-docs .sbdocs .toc-wrapper {
  font-family: var(--dds-font-family-base);
  font-size: var(--dds-font-size-sm);
  line-height: var(--dds-line-height-sm);

  .toc-list-item {
    > a {
      color: var(--dds-color-body-strong);

      &:not(.is-active-li > a):hover {
        text-decoration: underline;
      }

      &.node-name--H2 {
        display: block;
        color: var(--dds-color-heading);
        font-weight: 600;
      }

      + .toc-list {
        margin-top: var(--spacing-xxs);
      }
    }

    &.is-active-li {
      > a {
        color: #029cfd;
      }
    }

    .toc-list {
      margin-bottom: var(--spacing-xs);
    }
  }
  > .toc-list {
    border-left: none;

    > .toc-list-item {
      margin-left: 0;
    }
  }
}
